* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Noto Serif SC', serif;
}

.app-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-content::-webkit-scrollbar {
  display: none;
}